<h2>Users</h2>

<!-- 
id: 1,
email: "tot@tot.com",
encrypted_password: "$2a$10$pHZFaR4O63xzAfwlKE4xTehCAv2usSu2caIrHnT62lfX...", 
reset_password_token: nil, 
reset_password_sent_at: nil, 
remember_created_at: nil, 
sign_in_count: 2, 
current_sign_in_at: "2013-07-24 08:37:15", 
last_sign_in_at: "2013-07-24 08:37:15", 
current_sign_in_ip: "127.0.0.1", 
last_sign_in_ip: "127.0.0.1", 
created_at: "2013-07-24 08:37:12", 
updated_at: "2013-07-24 08:37:15", 
is_admin: true
-->

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>UID</th>
			<th>Email</th>
			<th>Roll</th>
			<th>Action</th>
		</tr>
	</thead>

	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.id %></td>	
				<td><a href="mailto:<%= user.email %>"><%=user.email%></a></td>
				<td><%= user.admin? ? "Manager" : "User" %></td>
				<td>Change Roll Delete</td>
			</tr>
		<% end %>
	</tbody>
</table>