
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>

<link rel="stylesheet" type="text/css" href="assets/axelfamilyfont.css"/>
<link rel="stylesheet" type="text/css" href="assets/generalstyle.css"/>

<link rel="apple-touch-icon-precomposed" href="assets/Icon.png"/>
<link rel="shortcut icon" href="assets/Icon.png"/>

<link rel="apple-touch-startup-image" href="assets/Default.png" media="(device-width: 320px)" sizes="320x460"/>
<link rel="apple-touch-startup-image" href="assets/Default@2x.png" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)" sizes="640x920"/>
<link rel="apple-touch-startup-image" href="assets/Default-568h@2x.png" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)" sizes="640x1096"/>

<link href="assets/DefaultIpadPortrait.png" media="(device-width: 768px) and (orientation: portrait)" rel="apple-touch-startup-image"/>
<link href="assets/DefaultIpadPortrait@2x.png" media="(device-width: 768px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image"/>
<link href="assets/DefaultIpadLandscape.png" media="(device-width: 768px) and (orientation: landscape)" rel="apple-touch-startup-image"/>
<link href="assets/DefaultIpadLandscape@2x.png" media="(device-width: 768px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image"/>

<title>TOT2</title>
</head>

<SCRIPT LANGUAGE="JScript">
function backToPage(location)
{
    document.location=(location);
}
</SCRIPT>

<body>

<%= yield %>

<%# server download link and copyright below%>
<div style="height:44px;"></div>

<div style="height:33px;">
	<a href="https://github.com/OpenFibers/TOT2">
		<h1 class="downloadLabel">Download TOT2 Server</h1>
	</a>
</div>
<div style="height:33px;">
	<a href="mailto:openfibers@gmail.com">
		<div>
			<h1 class="contractMeLabel">Contact Author</h1>
		</div>
	</a>
</div>

<h1>Powered by TOT2</h1>
<h1>Copyright (c) 2013, Open Fibers</h1>
<h1 style="height:33px">All rights reserved.</h1>


</body>
</html>
